/*
Theme Name:   Accelerate Theme Child
Theme URI:    http://example.com/accelerate-theme-child/
Description:  Accelerate Child Theme - Accelerate
Author:   	Jessica Aiese-Davoli
Author URI:   http://example.com
Template: 	accelerate-theme
Version:      2.0.0
Tags:     	light, dark, two-columns, right-sidebar, responsive-layout, accessibility-ready
Text Domain:  accelerate-theme-child
*/

.home-page {
    background: url("img/taxi-photo.jpg") no-repeat scroll right center / cover rgba(0, 0, 0, 0);
}


#masthead {
  background: none repeat scroll 0 0 #45ac9d;
}


.button {
	background:  none repeat scroll 0 0 #45ac9d;
}

.blog-post {
	width: 50%;
	float: left;
	margin-bottom: 2em;
}

.blog-post h4 {
    font-family: 'Montserrat';
    font-size: 15px;
    color: #a6a6a6;
    text-transform: uppercase;
    margin: 2em 0 2em;
    float: center;

}

.blog-post a{
  font-family: 'Montserrat';
  font-weight: bold;
  font-size: 24px;
  color: #000000;
}

.read-more-link a{
  font-family: 'Montserrat';
  font-weight: bold;
  font-size: 15px;
  text-transform: uppercase;
  color: #45ac9d;
  margin: 0px, 20px, 0px, 0px;
}

/*Case Studies*/
aside.case-study-sidebar {
  float:left;
  text-align: left;
  width: 310px;
  margin-top: 65px;
  margin-right: 5px;
  margin-bottom: 0px;
  margin-left: 20px;
}

.case-study-images {
  float:left;
  width:608px;
  margin-top: 100px;
  margin-bottom:25px;
}

.case-study-sidebar h2{
  font-family: 'Open Sans';
  font-weight: semibold;
  font-size: 25px;
  color: black;
  text-transform: none;
}

.case-study-sidebar h5{
  font-family:'Open Sans';
  font-size: 14px;
  color: #878787;
  text-transform: none;
}

.case-study-sidebar h6{
  font-family:'Open Sans';
  font-size: 14px;
  color: #000000;
}

.case-study a {
 font-family: 'Montserrat';
 font-weight: 700;
 color: #45ac9d;
 text-transform: uppercase;
}

.case-study-sidebar p {
  font-family: "Open Sans";
  font-weight: regular;
  font-size: 16.5px;
}

div.case-study-images img {
	width: 100%;
	height: auto;
}

/*Front Page Featured Work*/
.featured-work{
  text-align: center;
  text-transform:uppercase;
}

.individual-featured-work h3{
  font-family: 'Open Sans';
  font-size: 16.5px;
  font-weight: semibold;
}

.homepage-featured-work ul{
  overflow: auto;
}


.homepage-featured-work li{
  list-style-type:none;
  font-family: 'OpenSans';
  font-weight: semibold;
  text-transform: none;
  font-size: 16.5px;
  float: left;
  clear: inherit;
  padding:5px;
  font-size: 10px;
  color: #000000;
  width: 30%;
  margin-right: 3%;
}

/*Social Footer*/
.social-icon{
  width: 30px;
  height: 30px;
  margin: 10px;
  border-radius: 50%;
  float: right;
  overflow: auto;
  list-style: none;
  background: black;
  text-align: center;
  padding-top: 4px;
}

.social-icon a {
  color: white;

}


/*Contact Page*/
#primary.site-content.sidebar {
width: 600px;
}

div.main-content h2{
  font-size: 25px;
}

div.main-content p{
  font-size: 16px;
}

div.main-content label{
  font-size: 14px;
  font-weight: semibold;
}


div.main-content input {
  float: right;
  font-size: 18px;
  font-weight: bold;
}

#nf-field-4 {
  color: white;
  background-color: #45ac9d;
}



/*About Page*/

.main-about p{
  font-family: 'Open Sans';
  font-weight: semibold;
  font-size: 25px;
  color: white;
}

.intro h6{
  font: Montserrat;
  font-weight: bold;
  font-size: 15px;
  text-align: center;
}

.intro p{
  font: OpenSans;
  font-size: 16.5px;
  text-align: center;
}


/***Services List***/

.services-list{
  display: flex;
  flex-flow: row wrap;
  max-width: none;
  margin: inherit;
  justify-content: center;
}


.copy{
  width: 650px;
  height: auto;
  margin: 20px 20px 20px 0px;
}


.services-list img{
  width: 216px;
  height: 216px;
  margin: 10px 150px 10px 150px;
  align-items: left;
}


.services-list h2{
  width: 580px;
  height: auto;
  font: OpenSans;
  font-weight:semibold;
  font-size: 25px;
}


.services-list p{
  font: OpenSans;
  font-size: 16.5px;
}

.service{
  display: flex;
  flex-direction: row;
}

.service nth-child(odd){
  flex-direction: row-reverse;
}



/***Interested in working with us?***/
.contact-flex-container{
  display: flex;
  height: 200px;
  flex-direction: row;
  justify-content: center;
  align-items: baseline;
  padding: 100px 20px 20px 20px;
}

.contact h2{
  width: 350px;
  font-weight: bold;
}

.contact a{
  width: 250px;
  margin-left: 10px;
}


/***404 Page***/

div.main-content-404{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

img{
  width: 0%;
  height: auto;
}

.copy{
  padding-left: 60px;
}

.copy h1{
  font-family:'Fjalla One' ,sans-serif;
  font-size: 80px;
}

.copy h4{
  font-family: 'Fjalla One', sans-serif;
  font-size: 50px;
}
