/*
Theme Name:   Accelerate Theme Child
Theme URI:    http://example.com/accelerate-theme-child/
Description:  Accelerate Child Theme - Accelerate
Author:   	Jessica Aiese-Davoli
Author URI:   http://example.com
Template: 	accelerate-theme
Version:      2.0.0
Tags:     	light, dark, two-columns, right-sidebar, responsive-layout, accessibility-ready
Text Domain:  accelerate-theme-child
*/

.home-page {
    background: url("img/taxi-photo.jpg") no-repeat scroll right center / cover rgba(0, 0, 0, 0);
}


#masthead {
  background: none repeat scroll 0 0 #45ac9d;
}


.button {
	background:  none repeat scroll 0 0 #45ac9d;
}

.blog-post {
	width: 50%;
	float: left;
	margin-bottom: 2em;
}

.blog-post h4 {
    font-family: 'Montserrat';
    font-size: 15px;
    color: #a6a6a6;
    text-transform: uppercase;
    margin: 2em 0 2em;
    float: center;

}

.blog-post a{
  font-family: 'Montserrat';
  font-weight: bold;
  font-size: 24px;
  color: #000000;
}

.read-more-link span {
  font-family: 'Montserrat';
  font-weight: bold;
  font-size: 15px;
  text-transform: uppercase;
  color: #45ac9d;
  margin: 0px, 20px, 0px, 0px;
}
/*Case Studies*/
aside.case-study-sidebar {
  float:left;
  text-align: left;
  width: 310px;
  margin-top: 65px;
  margin-right: 5px;
  margin-bottom: 0px;
  margin-left: 20px;
}

.case-study-images {
  float:left;
  width:608px;
  margin-top: 100px;
}

.case-study-sidebar h2{
  font-family: 'Open Sans';
  font-weight: semibold;
  font-size: 25px;
}

.case-study-sidebar h5{
  font-family:'Open Sans';
  font-weight:regular;
  font-size: 14px;
  color: #878787;
}

.case-study-sidebar h6{
  font-family:'Open Sans';
  font-weight:regular;
  font-size: 14px;
  color: #878787;
}

.case-study a {
 font-family: 'Montserrat';
 font-weight: 700;
 color: #45ac9d;
 text-transform: uppercase;
}

.case-study-sidebar <p>{
  font-family: "Open Sans";
  font-weight: regular;
  font-size: 16.5px;
}
/*Featured Work*/
.featured-work{
  text-align: center;
  text-transform:uppercase;
}

.individual-featured-work h3{
  font-family: 'Open Sans';
  font-size: 16.5px;
  font-weight: semibold;
}

li{
  list-style-type:none;
  font-family: 'OpenSans';
  float: left;
  padding:5px;
  font-size: 10px;
  color: #000000;
}

.homepage-featured-work {
  font-family:'OpenSans';
  font-weight: semibold;
  text-transform: none;
  font-size: 16.5px;
}
